@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<br />

<p>Nome: @ViewData["Aluno"]</p>
<p>Desenvolvedor em formação !</p>

<address>
    <strong> Github with the complet program : </strong> <a href="https://github.com/JoaoLacerda27/Sistemas_Vendas">Github.com/JoaoLacerda27/Sistema_Vendas</a>
</address>
