@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<br />

<address>
    São Paulo<br />
    Embu das artes<br />
    <abbr title="Phone">P:</abbr>
    97070-7070
</address>

<address>
    <strong>Support:</strong> <a href="mailto:joaolacerda186@gmail.com">joaolacerda186@gmail.com</a><br />
</address>
