@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-xs-12">
        <img src="/images/businesspeople-meeting-plan-analysis-graph-company-finance-strat.jpg" class="img-fluid" alt="Responsive image" width="1200" height="500">
    </div>
</div>


<div id="inner">
        <form method="get" action="/Departments" style="display:inline-block">
            <button id="close-image" type="submit" class="btn-primary" style="margin-top: 50px; margin-left: 50px; margin-right: 50px;"><img src="/images/negocios-e-financas (1).png">Departments</button>
        </form>

        <form method="get" action="/SalesRecords" style="display:inline-block">
            <button id="close-image" type="submit" class="btn-primary" style="margin-top: 50px; margin-left: 50px; margin-right: 50px;"><img src="/images/venda-rapida (1).png">Sales</button>
        </form>

        <form method="get" action="/Sellers" style="display:inline-block">
            <button id="close-image" type="submit" class="btn-primary" style="margin-top: 50px; margin-left: 50px; margin-right: 50px;" spam="Vendedores"><img src="/images/perfil-pessoal (1).png">Sellers</button>
        </form>
</div>
